<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="/core/media/media.nl?id=4720&c=&h=mZOa1Nanqil7lNwMlnARo2avWoISRjIficGsqvMuOxWsv29o&_xt=.css">
    <script src="/core/media/media.nl?id=4723&c=&h=X2nV87x9JmORtwEApPCZZXZHNSpE6ZwjksupARI7AitWXZjE&_xt=.js"></script>
    <script src="/core/media/media.nl?id=4721&c=&h=zWjEPKE6SzPptV61VokhXzKBFX_jO8Vd94ePrCUjPGyAmTBv&_xt=.js"></script>
    <style>
        .ui.grid.components {
            width: 100%
        }

        .row.card {
            box-shadow: 1px 1px 3px #bababa;
            border-radius: 5px;
            margin-top: 10px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>

    <form class="ui form">

        <div class="ui bottom attached">
            <div class="ui grid components" style="padding-left: 20px; padding-top: 13px;">
                
				<div class="row card estimate-config">
					<div class="fluid column ">
						<h2 class="ui header card-header">Estimate's configuration</h2>
						<h4 class="ui header " style="margin-top: 0px;">Currency</h4>
						<div class="ui four search selection dropdown estimate-currency " style="padding-bottom:0px">
							<input type="hidden" id="estimate-currency" name="estimate-currency" value="">
							<i class="dropdown icon"></i>
							<div class="text">Select Currency</div>
							<div class="menu"> </div>
						</div>
					</div>
				</div>

                <div class="row card">
                    <div class="five wide column">
                        <div class="ui fluid labeled input field">
                            <div class="ui label">
                                AT-
                            </div>
                            <input type="number" name="atlassianQuoteID" class="getAtlassianQuote-input">
                        </div>
                    </div>

                    <div class="three wide column">
                        <div class="ui blue button getAtlassianQuote-button disabled"
                            onclick="getAtlassianQuote({class:'getAtlassianQuote'})">
                            Get
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-bottom:0px">
                    <div class="nine wide column">
                        <h2 class="ui header card-header">Current cart</h2>
                    </div>
                    <div class="three wide column">
                        <div class="ui field labeled input input-setDiscountToAll-discount">
                            <div class="ui label">Discount Setter</div>
                            <input type="number" style="width: 115px;" min="0" max="100">
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:0px">
                    <div class="fluid column">
                        <table class="ui selectable celled table striped currentTableList" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Tier</th>
                                    <th>Months</th>
                                    <th>List Price</th>
                                    <th>Upgrade Credit</th>
                                    <th>Price Adjustment</th>
                                    <th>Avst Discount Amount</th>
                                    <th>Avst Total</th>
                                    <th>Discount(%)</th>
                                    <th>Customer Price</th>
                                    <th>Margin</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row">
                    <div class="three wide column">
                    </div>
                    <div class="thirteen wide column" style="text-align: right;">
                        Total Avst price: $<span class="summary-avstTotal">0</span><br />
                        Total customer credit:$<span class="summary-totalCustomerCredit">0</span><br />
                        Total customer price:$<span class="summary-customerPrice">0</span><br />
                        Total Margin:$<span class="summary-totalMargin">0</span><br />
                        Quote total discount:$<span class="summary-totalDiscount">0</span><br /><br />
                        <!-- <div class="ui checkbox setDiscountToAll-checkbox">
                            <input id="setDiscountToAll-checkbox" type="checkbox" name="setDiscountToAll">
                            <label for="setDiscountToAll-checkbox" style="font-size: smaller;">Show discount % to
                                customer</label>
                        </div> -->
                    </div>
                </div>

                <div class="ui divider"></div>
				<div class="row">
					<div class="sixteen wide column" style="text-align: right;">
						Total List Price: $<span class="summary-listPrice">0</span></span><br />
						Total List Price With Adjustments: $<span class="summary-totalListPriceWithAdjustments">0</span></span><br />
						Total List Price Adjustments: $<span class="summary-totalListPriceAdjustments">0</span></span><br />
						Total Upgrade Credit: $<span class="summary-upgradeCredit">0</span><br />
					</div>
				</div>
                <div class="ui divider"></div>

                <div class="row actions">
                    <div class="right floated right aligned sixteen wide column">
                        <!-- <button class="ui grey button" name="cancel" onclick="closeWindow()">
                            Cancel
                        </button> -->
                        <div class="ui blue button importQuote-button disabled" name="savedraft"
                            onclick="importQuote({class:'importQuote'})">
                            Import
                        </div>
                    </div>
                </div>
                <div id="quoteData" style="display: none;"></div>
            </div>
        </div>
        <div class="ui modal error-modal">
            <div class="header error-header"></div>
            <div class="content error-content"></div>
        </div>

    </form>
    <script>
        /* to activate all dropdown functions */

        $(document).ready(() => {
            // $('.input-setDiscountToAll-discount').hide()
            $('.input-setDiscountToAll-discount input').on('input change', () => {
                console.log($('.allDiscount-discount input'))
                $('.allDiscount-discount input').val($('.input-setDiscountToAll-discount input').val())
                $('.allDiscount-discount input').trigger('change')
            })

            $('.getAtlassianQuote-input').on('keyup input paste', () => {
                if ($('.getAtlassianQuote-input').val().length > 3) {
                    $('.getAtlassianQuote-button').removeClass('disabled')
                } else {
                    $('.getAtlassianQuote-button').addClass('disabled')
                }
            })

            // $('#setDiscountToAll-checkbox').on('click', () => {
            //     if ($("#setDiscountToAll-checkbox").prop('checked') != true) {
            //         $('.input-setDiscountToAll-discount').hide()
            //     } else {
            //         $('.input-setDiscountToAll-discount').show()
            //     }
            // })
        })

        $('.ui.dropdown').dropdown();

        const closeWindow = () => $('.x-tool-close').trigger('click')

        const scriptLink = '/app/site/hosting/scriptlet.nl?script=customscript_adap_atlassiancart_op_sl&deploy=customdeploy_adap_atlassiancart_op_sl';

        $('.ui.form').form({
            fields: {
                firstname: 'empty',
                lastname: 'empty',
            }
        });
        const loader = (option) => {
            console.log('loader', option)
            if (option.isLoading) {
                if ($(`.${option.name}-loader`).length) {
                    $(`<div class="ui segment ${option.name}-loader" style="height:${option.height || 100}px; width:100% !important">
					<div class="ui active ${option.isDimmed ? '' : 'inverted'} dimmer">
					<div class="ui text loader">Loading</div>
					</div>
					<p></p>
				</div>`).insertAfter(`.${option.anchor}`);
                }
            } else {
                $(`.${option.name}-loader`).remove();
            }
        }
        const buttonLoader = (option) => {
            if (option.disable) {
                $(`.${option.class}-button`).html(`<div class="ui active inline loader ${option.classes}"></div>`);
                $(`.${option.class}-button`).removeAttr('onclick');
            } else {
                $(`.${option.class}-button`).html(option.name);
                $(`.${option.class}-button`).attr('onclick', option.onclick)
            }
        }

    </script>
</body>

</html>